@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@import "tailwindcss"; /* Atau @tailwind base dst kalau pakai v3 */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}